.container {
    height: calc(90px - 24px * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 100px;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 64px;
        }

        .switch {
            width: 55px;
            height: 26px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 3840px) {
    .container {
        padding: 24px 0;

        .menu {
            .info {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 1920px) {
    .container {
        padding: 24px 0;

        .menu {
            .info {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 16px 0;

        .logo {
            width: 52px;
            height: 22px;
        }

        .menu {
            .info {
                display: none;
            }

            .switch {
                width: 47px;
                height: 22px;
            }
        }
    }
}
